@charset "utf-8";
/*공통 스타일 */
body{position:relative;font-size:14px;font-family:NanumS, "Malgun Gothic", "맑은 고딕" , Dotum, "돋움",'Verdana',sans-serif;color:#666;line-height: 1.6em}

/* wrap 공통 */
.wrap {position: relative;width: 1200px;margin:0 auto}

/* header 영역 */
#header {width:100%;height: 114px;background-color: #fff;border-bottom: 1px solid #dadada}
#header .head_line {position: relative;width: 100%;height:5px;background-color: #f36f21}
#header .head_line div {position: absolute;top:0;left:0;width:50%;height:5px;background-color: #005aab}
#header .wrap .logo {width: 148px;height: 76px;margin: 0 auto;padding: 18px 0 0 0}
#header .weather {position: absolute;left:0;top:15px;font-weight: 600;color:#333}
#header .sns {position: absolute;left:700px;top:46px}
#header .sns a {display: block;float:left;width: 32px;height:31px;margin:0 3px;background: url(../images/sns_icon_bg.png) no-repeat;font-size: 0;line-height: 0}
#header .sns .facebook {background-position: 0 0}
#header .sns .twitter {background-position: -38px 0}
#header .sns .daumcafe {background-position: -76px 0}
#header .sns .naverblog {background-position: -113px 0}
#header .gnb {position: absolute;right:0;top:52px}
#header .gnb .gnb_link > li {float:left;margin:0 0 0 12px;padding:0 0 0 13px;background: url(../images/gnb_line.gif) 0 50% no-repeat;text-align: center;font-size: 15px}
#header .gnb .gnb_link > li:first-child {margin:0;padding:0;background: none}
#header .gnb .gnb_link > li a {display: block}
#header .gnb .language {position: relative}
#header .gnb .language .open i {display: inline-block;width: 10px;height: 6px;margin-left: 5px;background: url(../images/language_icon.png) 0 0 no-repeat;vertical-align: middle}
.language_cont {display: none;width: 100%;position: absolute;left: 0;top: 26px;border: 1px solid #dadada;background-color: #fff;z-index: 21}
.language_cont ul {padding: 0 10px}
.language_cont ul li a {display: block;padding: 6px 0;border-top: 1px solid #dadada}
.language_cont ul li:first-child a {border-top: none}
.mobile_btn {display: none}
.mobile_top {display: none}

/* 주메뉴 영역 */
#lnb {position: relative;width:100%;height:60px;border-bottom: 1px solid #005aab}
#lnb_wrap {width: 1200px;margin: 0 auto}
.top_menu {float:left;width:94.75%}
.top_menu .depth1 {float:left;width:16.666%}
.top_menu .depth1 > a {display: block;padding:20px 0;background: url(../images/lnb_li_bg.png) 0 50% no-repeat;text-align: center;line-height: 20px;font-size: 18px}
.top_menu .depth1:first-child > a {background: none} 
.search_wrap {float: right}
.search_wrap .search_btn {display: block;width:63px;height:60px;background: #005aab url(../images/search_open.png) 50% no-repeat;line-height: 0;font-size: 0;text-indent: -9999px}
.search_box {display: none;width: 100%;position: absolute;left: 0;top: 61px;z-index: 31;background-color: #005aab;overflow: hidden}
.search_box .inner_box {width: 1200px;margin: 0 auto;padding: 56px 0}
.search_box .inner_box h2 {float: left;width: 12%;font-weight: normal;padding-top: 16px;font-size: 28px;color: #fff}
.search_box .inner_box input {margin: 0;border: none}
.search_box .inner_box .search_input {float: left;width: 74%;height: 50px;font-size: 16px;line-height: 50px}
.search_box .inner_box .search_submit {float: left;padding: 0 28px;height: 50px;line-height: 50px;background-color: #8dc63f;font-size: 20px;color: #fff}

.depth2_sub {display: none;position: absolute;z-index: 300;left :0;width: 100%; min-height: 200px;top: 61px;background: #fff url(../images/depth2_bg.png) 50% bottom no-repeat;border-bottom: 2px solid #005aab}
.menu_bg {position: relative;width: 973px;margin: 0 auto;padding-left: 227px}
.depth2_title {position: absolute;left :0;top: 30px}
.depth2_title p {line-height: 24px;font-size: 20px;color: #d8f7ff}
.depth2_title strong {display: block;margin-top: 26px;padding-top: 12px;line-height: 30px;font-size: 32px;color:#fff}
.top_menu .depth2 {padding: 31px 0 10px}
.top_menu .depth2 > li {float: left;width: 167px;margin: 0 0 0 27px}
.top_menu .depth2 > li > a {display: block;padding: 0 0 0 14px;background: #ebebeb;text-align: left;line-height: 34px;font-weight: 600;font-size: 16px;color: #4d4d4d}
.top_menu .depth2 > li:hover > a {background: #fc833b;color: #fff;text-decoration: none}
.top_menu .depth2 .depth3 {padding: 13px 0 20px}
.top_menu .depth2 .depth3 li {padding-left: 14px;background: url(../images/bullet.gif) 4px 9px no-repeat}


/* 푸터 영역 */
#footer {width: 100%;padding :25px 0;border-top: 1px solid #ddd;background-color: #fff}
.main_banner {position: relative;margin-bottom: 20px;padding-left: 170px}
.main_banner h2 {position: absolute;top: 2px;left: 0;color: #333;font-size: 18px;line-height: 20px}
.main_banner .banner_control {position: absolute;top: 0;left: 80px}
.main_banner .banner_control button {display: block;float: left;margin-right: 2px;width: 27px;height: 27px;background: url(../images/bg_control.gif) no-repeat;font-size: 0;line-height: 0;text-indent: -999px;overflow: hidden}
.main_banner .banner_control .prev_btn {background-position: 0 0}
.main_banner .banner_control .next_btn {background-position: -31px 0}
.main_banner .banner_control .play_btn {background-position: -93px 0}
.main_banner .banner_control .pause_btn {background-position: -62px 0}
.group {width: 100%;height: 34px;overflow: hidden}
.group .banner_list {position: relative;padding-left: 20px;overflow: hidden}
.group .banner_list li {float:left}
.group .banner_list li a {display: block;padding: 0 10px}

.footer_banner {width: 100%;height: 62px;background-color: #005aab}
.footer_banner .site_link {float: left;width: 20%;position: relative}
.footer_banner .site_link button {display: block;padding-left: 20px;width: 100%;height: 62px;background: url(../images/site_link_btn.png) 90% 50% no-repeat;border-right: 1px solid #0d71cc;text-align: left;font-size: 15px;color: #fff}
.footer_banner .site_link .on {background-color: #024683}
.footer_banner .site_link:first-child button {border-left: 1px solid #0d71cc}
.footer_banner .obj {display: none;position: absolute;left: 0;bottom: 62px;width: 100%;z-index: 21;border-bottom: 1px solid #0d71cc; background-color: #024683}
.footer_banner .obj ul {padding: 10px 5px}
.footer_banner .obj li {float: left;width: 50%}
.footer_banner .obj li a {display: block;padding: 5px 10px;font-size: 13px;color: #fff}

.footer_logo {position: absolute;left: 0;top: 30px;width: 122px;height: 89px;background: url(../images/footer_logo.png) no-repeat;font-size: 0;line-height: 0;text-indent: -999px}
.footer_info {padding: 30px 0 25px 14%}
.footer_info address {display: block;margin-top: 17px;color: #484848;line-height: 17px}
.footer_info p {color: #797979;line-height: 17px}
.footer_info .copyright {font-size: 13px;margin: 0 0 15px}
.footer_menu {overflow: hidden}
.footer_menu li {float: left;margin: 0 0 0 9px;padding: 0 0 0 10px;background: url(../images/footer_line.gif) no-repeat left 50%}
.footer_menu li:first-child {margin: 0;padding: 0;background: none}
.footer_menu li a {display: block;padding: 2px 0 0 0;color: #484848;line-height: 16px}
.footer_menu li:first-child a {color: #f01111;font-weight: 600}

/* 1200px 미디어 쿼리 */
@media only screen and (max-width:1200px) {
    .wrap {width: 100%}
    .menu_wrap {width: 100%}
}

/* 1024px 미디어 쿼리 */
@media only screen and (max-width:1024px) {
    #header .sns {display: none}
    #header .gnb {display: none}
    .search_wrap {width: 100%;float: none}
    .search_wrap .search_btn {position: absolute;right: 10px;top: 30px;width: 44px;height: 44px;border-radius: 44px;line-height: 44px;z-index: 31}
    .search_wrap .search_btn em {height: 44px}
    .search_box {top: 110px}
    .search_box .inner_box {width: 100%;padding: 50px 4%}
    .search_box .inner_box h2 {width: 15%;padding-top: 12px;font-size: 24px}
    .search_box .inner_box .search_input {width: 70%;font-size: 16px}
    .search_box .inner_box .search_submit {padding: 0 20px;font-size: 16px}
    .mobile_top {display: block;height: 50px}
    .mobile_top span {line-height: 50px;padding-left: 15px;font-size: 18px;color: #f9f427;font-weight: 600}
    .mobile_top a {float: right;display: block;width: 28px;height: 28px;background: url(../images/gnb_close.png) no-repeat;background-size: 28px;margin-top: 12px;padding-right: 12px;text-indent: -999px}
    .mobile_btn {display: block;position: absolute;top: 30px;left: 10px;z-index: 10}
    .mobile_btn a {display: block;width: 99px;padding-left: 25px;height: 44px;line-height: 44px;border-radius: 22px;color: #fff;font-size: 15px;background: #0072bc url(../images/guro_sp.png) no-repeat -374px -29px}
    #lnb {position: static;height: 0}
    .menu_wrap {display: none;position: fixed;width: 130px;height: 100%;top: 0;z-index: 1000;background-color: #1a5395}
    .top_menu {float: none;width: 100%}
    .top_menu .depth1 {float:none;width: 100%;border-bottom: 1px solid #314a79}
    .top_menu .depth1.on > a {background: #fff;color: #343434}
    .top_menu .depth1 > a {display: block;height: 46px;padding: 0 10px;background: none;text-align: left;font-size: 15px;color: #fff;line-height: 46px}
    .depth2_sub {display: none;position: absolute;left :130px;width: 140px;height: 100%;top: 0;background: #fff none;border-bottom: none}
    .menu_bg {position: relative;width: 100%;margin: 0; padding: 0 10px 0 10px;background: #fff}
    .depth2_title {display: none}
    .top_menu .depth2 {padding: 0}
    .top_menu .depth2 > li {float: none;width: 100%;margin: 0 0 0 0}
    .top_menu .depth2 > li > a {display: block;padding: 0;background: none;border-bottom: 1px solid #000}
    .top_menu .depth2 > li:hover > a {background: none;color: #343434}
    .top_menu .depth2 .depth3 {padding: 13px 0 10px}
    .top_menu .depth2 .depth3 li {padding-left: 14px;background: url(../images/bullet.gif) 4px 9px no-repeat}
    .top_menu .depth2 .depth3 li a {font-size: 13px}
    
}

/* 800px 미디어 쿼리 */
@media only screen and (max-width:800px) {
    .footer_banner {height: auto}
    .footer_banner .site_link {width: 33.333%}
    .footer_banner .site_link button {border-bottom: 1px solid #0d71cc}
    .footer_logo {display: none}
    .footer_info {padding: 15px 10px 10px 10px}
    .mobile_btn a {width: 44px;height: 44px;padding-left: 0;text-indent: -9999px;background-position-x: -447px}
}

/* 640px 미디어 쿼리 */
@media only screen and (max-width:640px) {
    .search_box .inner_box h2 {display: none}
    .footer_banner .site_link {width: 50%}
    .footer_banner .site_link button {height: 54px}
    .footer_banner .obj {bottom: 54px}
}
/* 480px 미디어 쿼리 */
@media only screen and (max-width:480px) {
    .weather {display: none}
    #header .wrap .logo {width: 100%;text-align: center}
    
    .footer_banner .site_link {float: none;width: 100%}
    .footer_banner .site_link button {height: 40px}
    .footer_banner .obj {bottom: 40px}
}
