@charset "utf-8";

/* reset style*/

html, body, div,  p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li, blockquote, pre, button, fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td, iframe, article, aside, canvas, details, embed,figure, figcaption, header, footer, menu, nav, section, summary, audio, video {margin: 0; padding: 0; border: 0;  font-size: inherit; font-family: inherit;vertical-align: baseline;}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {display: block}
* { -webkit-text-size-adjust: none}
b,strong {font-weight:600}
img, fieldset {border:none}
em, dfn, cite, address { font-style: normal}
mark {background-color: #ff0;color: #000}
small {font-size: 80%}
sup,sub {position: relative;font-size: .9em;line-height: 0;vertical-align: baseline}
sub {bottom: -0.25em}
sup {top: -0.5em}
del {text-decoration: line-through}
label {cursor:pointer}

ol, ul, li {list-style:none;}
table {border-collapse:collapse; border-spacing:0}
legend {position:absolute;top:0;left:-9999em}
caption {position:absolute;left:-3000px;top:-3000px;width:0;height:0;font-size:0;line-height:0;overflow:hidden}
label {cursor:pointer}
hr {visibility:hidden; overflow:hidden; position:absolute; height:0; width:0; font-size:0}

/* form 요소 초기화 */
input {font-size:inherit;font-family:inherit;color:inherit;vertical-align:middle;}
input[type="file"] {border:none;}
input[type="image"] {height:auto;margin:0;border:none;padding:0;line-height:inherit}
button {margin:0;padding:0;background:none;border:none;text-transform:none;vertical-align:middle}
button,[type="button"],[type="reset"],[type="submit"] {margin:0;padding:0;background:none;border:none;cursor:pointer}
select {font-size:inherit;font-family:inherit;color:inherit;text-transform:none;vertical-align:middle}
textarea {font-size:inherit;font-family:inherit;color:inherit;vertical-align:middle;resize:none}
input[disabled="disabled"] {background:#ebebeb;color:#959595}
select[disabled="disabled"] {background:#ebebeb;color:#959595}

/* form 요소 기본 스타일 지정 */
input {height:24px;margin:1px;padding:1px 3px;border:solid 1px #dedede;line-height:24px}
input[type="submit"] {height:28px;line-height:24px}
input[type="radio"],input[type="checkbox"] {width:14px;height:14px;border:none;}
select {height:28px;padding:1px 0 1px 3px;border:solid 1px #dedede;background:#fff;line-height:24px}
textarea {min-height:80px;padding:1px 3px;border:solid 1px #dedede;line-height:25px}

a:link {color:#636363; text-decoration:none}
a:visited {color:#636363; text-decoration:none}
a:hover {color:#000; text-decoration:underline}
a:active {color:#000; text-decoration:underline}

.clearfix {display:block;}
.clearfix:after {display:block;clear:both;height:0;content:".";visibility:hidden}
.hidden {position:absolute;left:-3000px;top:-3000px;width:0;height:0;font-size:0;line-height:0;overflow:hidden}


/* 본문바로가기 */
#accessibility a{overflow:hidden;position:relative;z-index:1000;width:100%;}
#accessibility a{display:block;overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;text-align:center;}
#accessibility a:focus,.accessibility a:hover,.accessibility a:active{width:auto;height:20px;margin:0;padding:8px 0 0 15px;background:#20262c;font-size:12px;font-weight:700;line-height:1;color:#fff;}
