@charset "utf-8";

/* 메인 레이아웃 */
#container {width:100%;padding-bottom: 50px}
.main_wrap1 {height: 754px;padding:36px 0 0 0 ;background: url(../images/main_bg.jpg) 50% no-repeat;background-size: cover;overflow: hidden}
.main_wrap2 {padding-top: 50px;height: 276px;overflow: hidden}
.main_wrap3 {padding-top: 50px;overflow: hidden}

/* 포토소식, 영상소식 */
.news_box {float:left;width: 30.666%; height: 551px;background:#103268}
.news_box .news {position: relative;margin: 0 25px}
.news_box h2 {margin: 20px 0 15px;font-weight: normal;font-size: 22px;color:#fff}
.news_box a {position: relative;display: block;width:314px;height:199px;text-align: center;font-size: 14px;}
.news_box .more {position: absolute;right:0;top:0;background: url(../images/news_more.png) no-repeat;width:24px;height: 22px;font-size: 0;line-height: 0;text-indent:-9999px}
.news_box a span {color: #fff}
.news_box a:hover span {text-decoration: underline}
.news_box .news_title {display: block;padding:10px 5%;width:90%;height:16px;position: absolute;left:0;bottom:0;background: url(../images/news_title_bg.png);overflow: hidden;text-overflow: ellipsis;white-space: nowrap}

/* 메인 비주얼영역 */
.visual {position: relative;float: left;width: 40.916%; height: 551px}
.visual_control {position: absolute;left: 50%;margin-left: -75px;bottom: 0;z-index: 11}
.visual_control button {display: block;float: left;width: 50px;height: 50px;margin: 0;padding: 0;background: rgba(0,0,0,0.6) url(../images/visual_control.png) no-repeat -31px 19px;font-size: 0;line-height: 0}
.visual_control .prev_btn {background-position: 19px 19px}
.visual_control .play_btn {background-position: -131px 19px}
.visual_control .next_btn {background-position: -81px 19px}
.visual_list {width: 100%;height: 100%}
.visual_list li {width: 100%;height: 100%}

/* 구로구청장 */
.major {float: left;width: 28.333%}
.major .top {height: 264px;background: url(../images/major_bg.jpg) no-repeat right bottom #fff;background-size: auto 100%;overflow: hidden}
.major .top p {margin-top: 25px;padding-left: 24px;font-size: 18px;color: #020202}
.major .top p span {font-weight: 600;font-size: 22px;color: #f7931d}
.major .top a {display: block;width: 90px;height: 70px;padding: 30px 0 0 10px;margin: 17px 0 0 24px;background-color: #35435e;border-radius: 100%;color: #fff}
.major_link {float: left;display: table;width: 28.33%;height:82px;text-align: center;background: #306edd url(../images/major_link_line.gif) 50% 50% no-repeat}
.major_link a {display: table-cell;vertical-align: middle}
.major_link span {display: inline-block;vertical-align: middle;text-align: left;line-height: 1.2;color:#fff}
.major_link .icon1 {width: 29px;height: 37px;margin-right: 10px;background: url(../images/major_shorticon01.png) no-repeat}
.major_link .icon2 {width: 35px;height: 25px;margin-right: 10px;background: url(../images/major_shorticon02.png) no-repeat} 
.quick {float: left;width: 28.333%}
.quick .left {float: left;width: 50%;height: 155px;padding: 50px 0 0 0;background-color: #ed1c24}
.quick .left li a {display: block;margin-top: 10px;text-align: center;font-size: 16px;color: #fff}
.quick .right {float: right;width: 50%;height: 155px;padding: 50px 0 0 0;text-align: center;background-color: #35435e}
.quick .right a {display: block;padding-top: 66px;background: url(../images/congress_icon.png) 50% 0 no-repeat;font-size: 16px;color: #fff}

/* 바로가기메뉴 */
.favorite_menu {float:left;width: 100%;height: 120px}
.favorite_menu h2 {float: left;width: 12.333%;height: 85px;padding-top: 35px;background: #f7931d;text-align: center;font-weight: normal;line-height: 1.2em;font-size: 22px;color: #fff}
.favorite_menu h2 span {display: block}
.favorite_wrap {float: left;width: 87.666%;height: 120px;background: #fff;overflow: hidden}
.favorite_wrap ul {padding: 30px 0 0 40px}
.favorite_wrap ul li {float: left;width: 12.190%}
.favorite_wrap ul li a {display: block;padding: 50px 4% 0;text-align: center;line-height: 1.2em;color: #000}
.favorite_wrap ul .icon01 a {background: url(../images/quickicon_01.png) 50% 0 no-repeat}
.favorite_wrap ul .icon02 a {background: url(../images/quickicon_02.png) 50% 0 no-repeat}
.favorite_wrap ul .icon03 a {background: url(../images/quickicon_03.png) 50% 0 no-repeat}
.favorite_wrap ul .icon04 a {background: url(../images/quickicon_04.png) 50% 0 no-repeat}
.favorite_wrap ul .icon05 a {background: url(../images/quickicon_05.png) 50% 0 no-repeat}
.favorite_wrap ul .icon06 a {background: url(../images/quickicon_06.png) 50% 0 no-repeat}
.favorite_wrap ul .icon07 a {background: url(../images/quickicon_02.png) 50% 0 no-repeat}
.favorite_wrap ul .icon08 a {background: url(../images/quickicon_03.png) 50% 0 no-repeat}

/* 메인 구로소식 게시판 */
.board {position: relative;float:left;width:50.166%;height:274px;margin-right: 2.083%;border: 1px solid #ddd}
.board .tab_btn {display: block;width:100%;height:48px;background-color: #f9f9fa;border-bottom: 1px solid #ddd;text-align: center;font-size: 17px;color: #030303}
.board > ul > li {float:left;width:18.272%;height: 48px;border-right: 1px solid #ddd}
.board > ul > li.active > button {border-top:4px solid #005aab;border-bottom: none;background-color: #fff}
.board .more {display: block;position: absolute;right: 0;top:0 ;width: 7.973%;height: 47px;background: url(../images/board_more.png) 50% 50% no-repeat;border-bottom: 1px solid #ddd;font-size: 0;line-height: 0;text-indent: -9999px}
.board > ul > li.active .board_content {display: block}
.board_content {display: none;position: absolute;left: 0;top: 50px;width: 100%;height: 225px}
.board_content .cont_view {height:76px;padding:30px 20px 20px 26px;border-bottom: 1px dotted #ddd;overflow: hidden}
.board_content .cont_view > a {display: block}
.board_content .cont_view strong {display: block;margin-bottom:10px;font-size: 18px;color:#000;overflow: hidden}
.board_content .cont_view span {display: block;height: 45px;overflow: hidden}
.board .board_list {height: 45px;margin: 20px 20px 15px 26px;overflow: hidden}
.board .board_list li {position: relative;padding-right: 85px}
.board .board_list li a {display: block;padding-left: 10px;background: url(../images/bullet.gif) 0 50% no-repeat;text-overflow: ellipsis;white-space: nowrap;overflow: hidden}
.board .board_list .date {position: absolute;right:0;top:0;font-size: 13px}

/* 팝업존 */
.popupzone {position: relative;float: left;width: 25.916%;height:274px;border:1px solid #ddd}
.popupzone h2 {height: 36px;padding: 12px 0 0 20px;border-bottom: 1px solid #ddd;font-weight: normal;font-size: 20px;color:#000}
.popupzone_control {position: absolute;right: -1px;top: -1px;z-index: 11}
.popupzone_control button {display: block;float: left;width: 49px;height: 49px;margin: 0;padding: 0;border: 1px solid #ddd;border-left: none;border-bottom: none;background: url(../images/popup_control.png) no-repeat -63px 16px;font-size: 0;line-height: 0}
.popupzone_control button:first-child {border-left: 1px solid #ddd}
.popupzone_control .prev_btn {background-position: 14px 16px}
.popupzone_control .play_btn {background-position: -142px 16px}
.popupzone_control .next_btn {background-position: -26px 16px}
.popupzone li {width:100%;height:100%}
.popupzone li a {display: block}
.popupzone li img {width:100%;height: auto}

.guro_info {position: relative;float:right;width:19.333%;height:274px;border: 1px solid #ddd}
.guro_info ul {margin: 25px 8.620% 0 8.620%}
.guro_info ul li {border-top: 1px solid #ddd}
.guro_info ul li:first-child {border-top:none}
.guro_info ul li a {display: block;height:36px;background: url(../images/link_arrow.png) right 50% no-repeat;font-size: 16px;line-height: 36px}

.main_shorticon {padding-top:50px}
.main_shorticon li {float: left;width:11.11%}
.main_shorticon li a {display: block;padding-top: 100px;background: url(../images/main_shorticon_01.png) no-repeat center top;font-size: 16px;color: #414141;text-align: center}
.main_shorticon .icon01 a {background-image: url(../images/main_shorticon_01.png)}
.main_shorticon .icon02 a {background-image: url(../images/main_shorticon_02.png)}
.main_shorticon .icon03 a {background-image: url(../images/main_shorticon_03.png)}
.main_shorticon .icon04 a {background-image: url(../images/main_shorticon_04.png)}
.main_shorticon .icon05 a {background-image: url(../images/main_shorticon_05.png)}
.main_shorticon .icon06 a {background-image: url(../images/main_shorticon_06.png)}
.main_shorticon .icon07 a {background-image: url(../images/main_shorticon_07.png)}
.main_shorticon .icon08 a {background-image: url(../images/main_shorticon_08.png)}
.main_shorticon .icon09 a {background-image: url(../images/main_shorticon_09.png)}
 
/* 민원서비스 */
.civil_complaint {float: left;width: 47%;height:  350px;margin-right: 2.666%}
.civil_complaint h2 {height: 38px;font-weight: normal;font-size: 20px;color:#fff}
.civil_complaint ul li {float: left;width: 40%;margin: 0 0 10px;padding: 0 0 0 5%}
.civil_complaint ul li a {display: block;padding: 0 0 0 10px;background: url(../images/bullet.gif) 0 50% no-repeat}
.civil_complaint .list_group {height: 280px;padding: 20px 0 0 0;border-right: 1px solid #ddd}
.favorite_civil_complaint .list_group {border-left: 1px solid #ddd}
.favorite_civil_complaint {float: left;width: 50%;border-bottom: 3px solid #234976}
.online_civil_complaint {float: left;width: 50%;border-bottom: 3px solid #f47b33}
.favorite_civil_complaint h2 {padding: 14px 0 0 20px;background: url(../images/civil_title_bg01.png) no-repeat;background-size: 100% 100%}
.online_civil_complaint h2 {padding: 14px 0 0 20px;background: url(../images/civil_title_bg02.png) no-repeat;background-size: 100% 100%}

/* 구로링크 */
.guro_link {float: left;width: 19.583%;margin-right: 2.75%}
.guro_link ul li {margin-top: 8px}
.guro_link li:first-child {margin-top: 0}
.guro_link li a {display: block;padding: 14px 0;width: 100%;font-size: 18px;color: #fff}
.guro_link li a i {display: inline-block;width:80px;height: 80px;margin: 0 7px 0 15px;vertical-align: middle}
.guro_link .link01 a {background-color: #2b74b9}
.guro_link .link02 a {background-color: #20b0ab}
.guro_link .link03 a {background-color: #f3605a}
.guro_link .link01 a i {background: url(../images/guro_link_icon01.png) 0 0 no-repeat}
.guro_link .link02 a i {background: url(../images/guro_link_icon02.png) 0 0 no-repeat}
.guro_link .link03 a i {background: url(../images/guro_link_icon03.png) 0 0 no-repeat}

/* 아코디언 탭 */
.accordion {float: left;width: 26.166%}
.accordion .cont_view_btn {display: block;width: 100%;height: 44px; border: 1px solid #ddd;border-top:none;text-align: left;font-size: 18px;color:#000}
.accordion > ul > li > ul {display: none}
.accordion > ul > li.on > ul {display: block}
.accordion li:first-child .cont_view_btn {border-top: 1px solid #ddd}
.accordion .link_wrap01 .cont_view_btn {background: url(../images/accordion_arrow_01.png) 95% 50% no-repeat}
.accordion .link_wrap02 .cont_view_btn {background: url(../images/accordion_arrow_02.png) 95% 50% no-repeat}
.accordion .link_wrap03 .cont_view_btn {background: url(../images/accordion_arrow_03.png) 95% 50% no-repeat}
.accordion .link_wrap04 .cont_view_btn {background: url(../images/accordion_arrow_04.png) 95% 50% no-repeat}
.accordion .cont_view_btn span {display: block;margin-left: 15px;padding-left: 35px}
.accordion .link_wrap01 .cont_view_btn span {background: url(../images/accordion_icon_01.png) 0 50% no-repeat}
.accordion .link_wrap02 .cont_view_btn span {background: url(../images/accordion_icon_02.png) 0 50% no-repeat}
.accordion .link_wrap03 .cont_view_btn span {background: url(../images/accordion_icon_03.png) 0 50% no-repeat}
.accordion .link_wrap04 .cont_view_btn span {background: url(../images/accordion_icon_04.png) 0 50% no-repeat}
.accordion li:first-child .text_link {display: block}
.accordion .text_link {height: 157px;overflow-y: auto;padding: 11px 15px 12px; border: 1px solid #ddd;border-top: none;background: #f9f9f9;}
.accordion .text_link li {float: left;width: 50%;height: 22px}
.accordion .text_link li a {display: block;padding-left: 5px;background: url(../images/bullet.gif) 0 50% no-repeat;font-size: 13px }

/* 1024px 미디어 쿼리 */
@media only screen and (max-width:1024px) {
    .main_wrap1 {height: 100%}
    .main_wrap1 .wrap {padding: 0 0 30px}
    .news_box {width: calc(100% - 490px);height: 540px;text-align: center}
    .news a {display: block;width: 100%;overflow: hidden}
    .visual {width: 490px;height: 540px;overflow: hidden}
    .visual_list img {width: 100%}
    .major {width: 50%} 
    .major .top {height: 260px}
    .major_link {width: 50%}
    .quick {width: 50%}
    .quick .left {width: 50%;height: 148px;padding: 30px 0 0 0}
    .quick .right {width: 50%;height: 138px;padding: 40px 0 0 0}
    .board {width: 44.5%;margin-right: 1.5%}
    .board .tab_btn {font-size: 15px}
    
    .popupzone {width: 30.6%}
}

/* 800px 미디어 쿼리 */
@media only screen and (max-width:800px) {
    .favorite_menu {float: none}
    .favorite_menu h2 {width: 20%;font-size: 18px}
    .favorite_wrap {float: left;width: 80%;height: 120px;background: #fff}
    .favorite_wrap ul {width: 94%;padding: 30px 3% 0}
    .favorite_wrap ul li a {font-size: 12px}
    .main_wrap2 {height: auto}
    .board {width: 60%;height: 264px;margin-right: 2%}
    .popupzone {float: left;width: 36%;height: 264px}
    .guro_info {width: 96%;height: auto;padding: 2%;margin-top: 30px}
    .guro_info ul {width: 90%;margin: 2% 3%}
    .guro_info ul li {float: left;width: 31.33%;margin-left: 2%;border: none}
    .guro_info ul li a {font-size: 14px;text-align: left;letter-spacing: -1px}
    .main_shorticon {padding-top: 30px}
    .main_shorticon li {width:25%;margin-top: 15px}
    .main_shorticon li a {font-size: 14px}
    .civil_complaint {float: none;width: 100%;margin: 0 0 30px}
    .guro_link {width: 47%;margin-right: 3%}
    .accordion {width: 50%}
    
}
/* 640px 미디어 쿼리 */
@media only screen and (max-width:640px) {
    .news_box {float: none;width: 100%;height: 34px}
    .news_box .photo_news_list, .news_box .video_news_list {display: none}
    .news_box .news {position: relative;margin: 0;padding: 0}
    .news_box h2 {margin: 0;font-size: 16px;line-height: 34px}
    .news_box a {width: 100%}
    .news_box .more {background: none;width:100%;height: 100%}
    .visual {float: none;height: 100%;margin: 0 auto}
    .visual_list li img{width: 100%;height: auto;vertical-align: top}
    .board {width: 100%;margin: 0 0 30px}
    .popupzone {width: 80%;height: auto;margin: 0 10% 0 10%}
    
}
/* 480px 미디어 쿼리 */
@media only screen and (max-width:480px) {
    .visual {width: 100%;height: inherit}
     .news_box .news {float: left;width: 50%}
    .major {width: 100%}
    .major_link {width: 100%}
    .quick {width: 100%}
    .quick .left {height: 128px;padding: 20px 0 0 0}
    .quick .right {height: 118px;padding: 30px 0 0 0}
    .favorite_menu h2 {padding-top: 42px;height:  78px;font-size: 14px}
    .favorite_wrap ul li a {display: block;padding: 30px 4% 0;background-size: auto 32% !important}
    .favorite_wrap ul .icon01 a {background: url(../images/quickicon_01.png) 50% 0 no-repeat}
    .favorite_wrap ul .icon02 a {background: url(../images/quickicon_02.png) 50% 0 no-repeat}
    .favorite_wrap ul .icon03 a {background: url(../images/quickicon_03.png) 50% 0 no-repeat}
    .favorite_wrap ul .icon04 a {background: url(../images/quickicon_04.png) 50% 0 no-repeat}
    .favorite_wrap ul .icon05 a {background: url(../images/quickicon_05.png) 50% 0 no-repeat}
    .favorite_wrap ul .icon06 a {background: url(../images/quickicon_06.png) 50% 0 no-repeat}
    .favorite_wrap ul .icon07 a {background: url(../images/quickicon_02.png) 50% 0 no-repeat}
    .favorite_wrap ul .icon08 a {background: url(../images/quickicon_03.png) 50% 0 no-repeat}
    
    .board {float: none}
    .board .board_wrap {width: calc(100% - 40px)}
    .board .board_wrap .m {display: none}
    .board > ul > li {width: 33.33333%;box-sizing: border-box}
    .board .board_list {margin: 20px 10px 15px 10px}
    .board .more {width: 40px}
    
    .guro_info ul li {float: left;width: 48%}
    .guro_link {float: none;width: 100%}
    .guro_link ul li {float: left;width: 32.3%;margin: 0 0 0 1%}
    .guro_link li a {font-size: 16px;text-align: center}
    .guro_link li a i {display: block;margin: 0 auto 15px}
    .accordion {float: none;width: 100%;max-width: 315px;margin: 30px auto 0}
    
    
}
    