@charset "utf-8";
/* 브랜드 소개 */
.sub-wrap {width:100%;height:100%;}
.sub-top {height:100%; position:fixed}
.sub-content {margin-left:200px;padding-right:200px;width:100%}
.sub-visual {text-indent:-999em;height:240px; background:url(../images/sub/sub_top01.png) 50% 0 no-repeat; background-size:cover}

.content {width:1024px;padding:0;margin:0 auto}
.container-fluid .row {width: 1024px;margin: 0 auto; padding-bottom: 150px;border-bottom: 1px dashed #cccccc;}
.tabmenu {margin: 30px auto 40px; overflow:hidden}
.tabmenu li {float:left;width:20%;font-family: 'Nanum Gothic', sans-serif}
.tabmenu li a {display:block;font-size:18px;line-height:60px;height: 60px;border: 2px solid #ff5012;color:#ff5012;text-align: center;border-right: 1px solid #ff5012;border-left:none}
.tabmenu li a:hover {text-decoration:none}
.tabmenu li a.on {background:#ff5012; color:#fff}
.tabmenu li a.fst {border-left:2px solid #ff5012;border-radius: 10px 0 0 10px;}
.tabmenu li a.lst {border-right:2px solid #ff5012;border-radius: 0 10px 10px 0;}
.tabmenu li.tab01 { width:25%}

.container {width:auto;font-family: 'Nanum Gothic', sans-serif}
.intro-title {margin:0;text-align:center;font-weight:700; margin-top:65px;font-size:40px;color:#343434;letter-spacing:-1px}
.intro-title span {display:block;color:#999;font-size:20px;margin-top:10px;font-weight:normal}
.intro-top {text-align: center;margin-top:30px;font-size: 32px;color: #343434; }
.intro-text {background:url(../images/sub/bulWeb.png) 50% 0 no-repeat;text-align:center;line-height:25px;margin-top:15px;padding:28px;font-size:15px;color:#666;}
.value-area{}
.value-area ul {}
.value-area ul li {float:left;width:25%; padding-top:140px;background:url(../images/sub/idea01.png) 50% 0 no-repeat}

.value-area ul li p {margin: 12px 18% 0;color: #666;line-height: 22px;}
.identity-area {width:100%}
.identity-area img {max-width:100%;}

.centers { clear: both;margin-top: 50px;padding-bottom: 30px;}
.centers address, .centers .copy {font-family: 'Nanum Gothic', sans-serif;color: #b2b2b2;}

.intro-greet {text-align:center;}
.intro-body {text-align:center;font-family: 'Nanum Gothic', sans-serif;color: #666;}
.intro-body strong {font-weight:normal;color:#F00}

.history-title {text-align:left}
.history-tabmenu ul {margin:40px 0 0 0; overflow:hidden}
.history-tabmenu ul li { float:left;width:33.33%;text-align:center}
.history-tabmenu ul li a {display:block;background:url(../images/sub/bulNavBar.gif) 0 50% no-repeat #f5f5f5;line-height:40px;font-size:15px;color:#999;}
.history-tabmenu ul li:first-child a {background-image:none}
.history-tabmenu ul li a.secborder {background-image:none}
.history-tabmenu ul li a.on {background:#16773a;color:#fff}
.sub-history {}
.sub-history dl {position:relative;margin-top:68px;}
.sub-history dl dt {position:absolute;left:0;top:0;font-size:60px;font-weight:bold;color:#16773a;line-height:60px}
.sub-history dl dd {padding:20px 0 0 320px; font-size:15px; color:#999; line-height:15px; overflow:hidden}
.sub-history dl dd em {padding:0 10px 0 0;font-weight:bold;font-style:normal;font-size:20px;color:#343434;line-height:20px}

/* 메뉴 소개 */
.sub-visual-02 {text-indent:-999em;height:240px; background:url(../images/sub/sub_top02.png) 50% 0 no-repeat; background-size:cover}
.con img {width:100%}


/* 창업안내 */
.sub-visual-04 {text-indent:-999em;height:240px; background:url(../images/sub/sub_top04.png) 50% 0 no-repeat; background-size:cover}
.tabmenu li.tab04 { width:50%}

@media screen and (max-width:1023px){
	.sub-top {height:100%;position:absolute}
	.sub-content { margin-left:0;padding-right:0;}
	.sub-visual {background-position:40% 0}
	.content {width:100%}
	.container-fluid .row {width:100%}
	.sub-wrap {width:100%;height:auto;}
    .sub-top {height:auto; }
	.sub-visual {height:200px; background:url(../images/sub/sub_top01.png) 50% 0 no-repeat; background-size:cover}
	.sub-visual-02, .sub-visual-04 {height:200px;}
	.tabmenu li a {font-size:14px;}
	.intro-title {margin-top:35px;font-size:24px;color:#343434;}
    .intro-title span {font-size:16px;margin-top:10px;line-height:24px}
    .intro-text {font-size:14px;line-height:21px;}
	.tabmenu {margin: 30px auto 20px; overflow:hidden}
	.value-area ul li {float:none;width:100%; margin-top:35px; }
	
	
	
	
}
@media screen and (max-width:768px){

	.intro-greet img {width:181px; height:215px}
	
	
}
